.Search{
    color: blueviolet;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid blueviolet;
    border-radius: 40px ;
}
.searchForm{
    border: 1px solid blueviolet;
    border-radius: 40px ;
}
.search-bar{
    display: flex;
    align-items: center;
    max-width: 330px;
}