h2{
    font-weight: bold;
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 5px;
}
h3{
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    

h4{
font-weight: 400;
font-size: 16px;
margin-top: -80px;
}
ul{
    list-style-type: none;
    margin-left: -40px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ff9a9e;
  }
  
  img{
   
    width: 370px;
    height: 370px;
    object-fit: cover;
    margin-top: -80px;
    margin-right: -40px;  

}

.Weather{
  
    margin-top: 10px;
    padding: 35px;
    border-radius: 25px;
    align-items: center;
    max-width: 500px;
    margin-bottom: 10px;
    
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.2);;
}
.Weather h1{
    font-weight: bold;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.searchBar{
    display: flex;
    align-items: center;
    max-width: 330px;
}
.form-control{
    width: 200px;
    border-radius: 8px;
    display: inline;
    height: 30px;
    font-size: 12px;
}
.btn{
    display: inline;
    width: 70px;
    height: 30px;
    align-items: center;
    margin-left: 5px;
    color: #ffffff;
    background: #ff9a9e;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    transition: all 200ms ease-in-out;
    border-radius: 8px;
    border: none;
}
.situation{
    margin-top: 30px;
}
.situation h1{
    font-weight: bold;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.float{
    font-size: 16px;
    display: inline;
    position: relative;
    top: 0px;
}
.temperature{
    font-size: 80px;
}
.detail {
    margin: 35px auto;}

    
      
      .locationButton button {
        background: #9fb8d1;
        border: 1px solid #9fb8d1;
        border-radius: 15px;
        box-shadow: 0 0 18px rgb(0, 0, 0, 0.2);
        display: inline-block;
        width: 40px;
        height: 30px;
      }

      .containerSunny {
        margin-top: 10px;
        padding: 35px 35px 35px 35px;
        border-radius: 25px;
        align-items: center;
        max-width: 500px;
        margin-bottom: 10px;
        background-image: linear-gradient(to top, #ff9a9e 0%, #f9df70 90%);
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        transition: all 200ms fade-out 200ms;}
        .containerCloudy {
          margin-top: 10px;
          padding: 35px 35px 35px 35px;
          border-radius: 25px;
          align-items: center;
          max-width: 500px;
          margin-bottom: 10px;
          background-image: linear-gradient(to top, #9fb8d1 0%, #b7b7b7 70%);
          margin-right: auto;
          margin-left: auto;
          overflow: hidden;
          transition: all 200ms fade-out 200ms;
        }
        .containerPartlyCloudy {
          margin-top: 10px;
          padding: 35px 35px 35px 35px;
          border-radius: 25px;
          align-items: center;
          max-width: 500px;
          margin-bottom: 10px;
          background-image: linear-gradient(to top, #8db4d4 0%, #b099e1 70%);
          margin-right: auto;
          margin-left: auto;
          overflow: hidden;
          transition: all 200ms fade-out 200ms;
        }
        .containerRaining {
          margin-top: 10px;
          padding: 35px 35px 35px 35px;
          border-radius: 25px;
          align-items: center;
          max-width: 500px;
          margin-bottom: 10px;
          overflow: hidden;
          background-image: linear-gradient(to top, #b7b7b7 0%, #9fb8d1 70%);
          margin-right: auto;
          margin-left: auto;
          transition: all 200ms fade-out 200ms;
        }
        .containerSnow {
          margin-top: 10px;
          padding: 35px 35px 35px 35px;
          border-radius: 25px;
          align-items: center;
          max-width: 500px;
          margin-bottom: 10px;
          background-image: linear-gradient(to top, #33475c 0%, #90bde0 70%);
          margin-right: auto;
          margin-left: auto;
          overflow: hidden;
          transition: all 200ms fade-out 200ms;
        }